<h1>Who is this person called, Kim?</h1>

<p>Probably some image here</p>

<p>Hi, my name is Kimberly or Kim. Portland, Oregon where I was born and raised. It's where I spend most of my days //. Can be found contemplating a lot of things.</p>

<div class="">
  <div class="row">
    <div class="col-md-6">
      <h4>Things I do & Enjoy</h4>
      <ul>
        <li>Enjoys boba</li>
        <li>Loves scruffy dogs</li>
        <li>Always contemplating life decisions</li>
        <li>Always trying to find something to watch on Netflix but finds it difficult. Ends up watching Friends.</li>
        <li></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4>Who I am</h4>
      <ul>
        <li>Forever internally crying</li>
        <li>Graphic design background</li>
        <li>Team Oriented</li>
        <li>Lots of patiences</li>
        <li>Apparently is tenacious in challenges that come my way</li>
        <li>Can twist any positive outlook thrown my way to a negative one. :)</li>
      </ul>
    </div>
  </div>
</div>
