<h1>Contact</h1>
<p>Link to linkedin, web portfolio</p>


<h4>maybe a dumb comment section</h4>
<p>bring it back to the early 2000s</p>

<h4>Leave me a comment!</h4>
<h4>Or try to get Action Mailer implemented</h4>
